{% load static %}

<!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li>
                <a href="https://github.com/cww97/Bibuying" class="icon fa-github">
                    <span class="label">Github</span>
                </a>
            </li>
            <!--
            <p class="copyright"> Worked by:
                <a href="https://github.com/cww97"> Weiwen Chen</a>,
                <a href="https://github.com/TonyDanidXHY"> Hongyi Xu</a>,
                <a href="https://github.com/Jarvis-K"> Junjie Sheng</a>
            </p>
            -->
        </ul>

</footer>

<!-- Scripts -->
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/jquery.scrolly.min.js" %}></script>
    <script src={% static "js/skel.min.js" %}></script>
    <script src={% static "js/util.js" %}></script>
    <script src={% static "js/main.js" %}></script>