{% extends 'base.html' %}
{% load static %}
{% block title %}必不应{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
{% endblock %}

{% block content %}

    <section id="header">
    <div class="content">
        <h1><a href="#">必不应</a></h1>
        <p> 网易云中文top300歌手的歌 </p>
        <form action="/res/" method="GET">
            <ul class="actions">
                <input type="text" name="words" id="demo-name" value="" placeholder="Animals?" />
                <br>
                <li><a href="#wordcloud" class="button icon fa-chevron-down scrolly">WordCloud</a></li>
                <li><input type="submit" class="button special icon fa-download" value="Search"></li>
            </ul>
        </form>
    </div>

    <form action="/write/" method="GET">
        <div class="image phone">
            <div class="inner">
                <div class="select-wrapper">
                    <input type="text" name="words" id="demo-name" placeholder="write a song?" />
                    <img src={% static "images/screen.jpg"%} />
                    <select name="demo-category" id="demo-category">
                        <option value="">- Category -</option>
                        <option value="1">Manufacturing</option>
                        <option value="1">Shipping</option>
                        <option value="1">Administration</option>
                        <option value="1">Human Resources</option>
                    </select>
                </div>

            </div>
            <input type="submit" class="button special icon fa-download" value="Write">
        </div>
    </form>

    </section>

    <section id="wordcloud">
        <h2>Lists for WordClouds</h2>
        <div class="row">
            <div class="6u 12u$(medium)">
                <ul class="alt">
                    {% for singer in singers %}
                        <li> <a href="wordcloud/?singer={{ singer }}"> {{ singer }} </a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <a class="github-fork-ribbon right-bottom fixed" href="https://github.com/cww97/Bibuying" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
{% endblock %}